@page
@model MegaDeskRazorPages.Pages.Quotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    .addButton {
        background: #000000;
        border-radius: 8px;
        color: #ffffff;
        height: 40px;
        width: 120px;
        text-align: center;
    }

        .addButton:hover {
            background: #333333;
        }

    .buttonWrap a {
        text-decoration: none;
        line-height: 40px;
    }
</style>

<h1>View All Quotes</h1>
<div class="buttonWrap">
    <a asp-page="Create"><div class="addButton">Add Quote</div></a>
    </div>
<form>
    <p>
@*        <div class="form-group">
            <label class="form-label mt-4">Select Date</label>
            <select asp-for="QuDate" asp-items="Model.DateAdded" class="form-select">
                <option value="">All</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Select Customer Name</label>
            <select asp-for="CustomerName" asp-items="Model.CustNames" class="form-select">
                <option value="">All</option>
            </select>
        </div>*@
        <div class="form-group">
            <input type="text" asp-for="SearchString" placeholder="Customer Name"/>
            <input type="submit" value="Search" />
        </div>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Quote[0].QuoteDate)
                </a>
                
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Quote[0].CustName)
                </a>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Drawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Rush)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Quote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rush)
            </td>                
            <td>
                $@Html.DisplayFor(modelItem => item.Total)
            </td>     
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
