@page
@model SacramentPlanner.Pages.Planners.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div id="wrapper">
    <div class="formWrap">
        <h1>Sacrament Meeting</h1>
        <h4>@Html.DisplayFor(model => model.Planner.PlannerDate)</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Planner.Conducting)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Planner.Conducting)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Planner.Presiding)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Planner.Presiding)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Planner.OpeningHymn)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Planner.OpeningHymn)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Planner.OpeningPrayer)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Planner.OpeningPrayer)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Planner.SacramentHymn)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Planner.SacramentHymn)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Planner.Speaker1)
            </dt>
            <dd class="col-sm-3">
                @Html.DisplayFor(model => model.Planner.Speaker1)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Planner.Topic1)
            </dt>
            <dd class="col-sm-3">
                @Html.DisplayFor(model => model.Planner.Topic1)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Planner.Speaker2)
            </dt>
            <dd class="col-sm-3">
                @Html.DisplayFor(model => model.Planner.Speaker2)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Planner.Topic2)
            </dt>
            <dd class="col-sm-3">
                @Html.DisplayFor(model => model.Planner.Topic2)
            </dd>
            <dt class="col-sm-4">
                Intermed. Hymn
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Planner.IntermediateHymn)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Planner.Speaker3)
            </dt>
            <dd class="col-sm-3">
                @Html.DisplayFor(model => model.Planner.Speaker3)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Planner.Topic3)
            </dt>
            <dd class="col-sm-3">
                @Html.DisplayFor(model => model.Planner.Topic3)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Planner.ClosingHymn)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Planner.ClosingHymn)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Planner.ClosingPrayer)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Planner.ClosingPrayer)
            </dd>
        </dl>
        <hr />
        <div class="buttonWrap">
            <a asp-page="./Edit" asp-route-id="@Model.Planner?.Id">Edit</a> |
            <a asp-page="./Index">Back to List</a>
        </div>
    </div>
</div>
