@page
@model SacramentPlanner.Pages.Planners.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].PlannerDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].Conducting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].Presiding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].OpeningHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].ClosingHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].IntermediateHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].OpeningPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].ClosingPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].Speaker1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].Speaker2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].Speaker3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].Topic1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].Topic2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].Topic3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Planner) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlannerDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conducting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presiding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntermediateHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speaker1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speaker2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speaker3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic3)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
