@page
@model SacramentPlanner.Pages.Planners.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="indexDiv">
<h1>Sacrament Meeting Planners</h1>

<form>
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="SearchString" placeholder="Meeting Date"/>
        <input type="submit" class="btn btn-primary" value="Filter" />
    </div>
</form>

    <table class="table table-hover table-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].PlannerDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].Conducting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planner[0].Presiding)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Planner) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlannerDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conducting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presiding)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-outline-info btn-sm" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-info btn-sm" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-outline-info btn-sm" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

</div>

<div class="createButton">
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</div>